# BIG-IP configuration
BIGIP_MGMT_IPADDR=10.250.16.104
BIGIP_MGMT_PORT=443
BIGIP_MGMT_USERNAME=admin
BIGIP_MGMT_PASSWORD=admin
BIGIP_VS_PATH="/sample_application/A1/serviceMain"
BIGIP_LOGGING_TARGET=10.250.64.100

# fake application setup
FAKE_BIGIP_VS_IPADDR=10.250.17.133
FAKE_BIGIP_VS_PORT=80
FAKE_BIGIP_VS_SERVICEPORT=84
FAKE_BIGIP_VS_POOL='[
    "10.250.11.185",
    "10.250.11.24",
    "10.250.11.37"
]'
